html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* <article class="tweet">
    <header>
        <img class="avatar"src="https://s3.amazonaws.com/artistsnclients/k63/samples/pju_800.JPG">
    </header>
            <textarea placeholder="This is an older tweet"></textarea>
    <footer>
    </footer>
</article> */

main article.tweet {

  position: relative;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 2em 2em 2em;
  border: 1px solid black;
}

main article header {
  position: relative;
  border-radius: 10px 10px 0 0;
  height: 60px;
  width: 100%;
  background-color: rgb(243, 240, 240);
  color: #375e68;
}


main article header .avatar {
  margin: 0 0 0 1em;
  width: 20%; 
  height: 100%;
  float: left;
  border-radius: 30px 30px 30px 30px;
}

main article header h3.accountOwner {
  float: left;
}

main article header p.reply-to {
  float: right;
  margin-right: 1em;
}

main article p.tweetBody {
  position: relative;
  padding: 1em 1em 1em 1em;
  display: block;
}

main article footer {
  border-top: 1px solid black;
}

main article footer .daysPast {
  margin: 10px 10px 10px 10px;
}




/* 
main.container .new-tweet h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

main.container .new-tweet textarea {
  position: relative;
  margin: 2px 0 10px 0;
  width: 100%;
  padding: 0.2em 0.2em 0.2em 0.2em;
  display: block;
}

main.container .new-tweet input {
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
}

main.container .new-tweet span {
  float: right;
} */