html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



main article.tweet {

  position: relative;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 2em 2em 2em;
  border: 1px solid black;
  opacity: 0.6;
}

main article:hover {
  opacity: 1;
}

main article header {
  position: relative;
  border-radius: 10px 10px 0 0;
  height: 60px;
  width: 100%;
  background-color: rgb(243, 240, 240);
  color: #375e68;
}


main article header .avatar {
  padding: 0.2em;
  margin: 0 0 0 .5em;
  width: 18%; 
  height: 100%;
  float: left;
  border-radius: 30px 30px 30px 30px;
}

main article header h3.accountOwner {
  float: left;
}

main article header p.reply-to {
  float: right;
  margin-right: 1em;
}

main article p.tweetBody {
  position: relative;
  padding: 1em 1em 1em 1em;
  display: block;
  overflow-wrap: break-word;
}

main article footer {
  border-top: 1px solid black;
  padding: 1em 1em 1em 1em;
}

main article footer .flag {
  float: right;
  height: 20px;
  width: 20px;
  opacity: 0;
}

main article footer .retweet {
  float: right;
  height: 30px;
  width: 30px;
  opacity: 0;
}

main article footer .love {
  float: right;
  height: 30px;
  width: 40px;
  opacity: 0;
}

main article:hover .flag {
  opacity: 1;
}
main article:hover .retweet {
  opacity: 1;
}
main article:hover .love {
  opacity: 1;
}

/* main article footer .symbol:hover {
  visibility: visible;
} */


/* 
main.container .new-tweet h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

main.container .new-tweet textarea {
  position: relative;
  margin: 2px 0 10px 0;
  width: 100%;
  padding: 0.2em 0.2em 0.2em 0.2em;
  display: block;
}

main.container .new-tweet input {
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
}

main.container .new-tweet span {
  float: right;
} */